RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?bots.fabiojeurissen.be$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?bots.fabiojeurissen.be$
RewriteRule ^(/)?$ bots/public/index.html [L]
