{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="min-w-full min-h-screen bg-gray-900">
        <div class="h-screen flex flex-column items-center justify-center">
            <div class="text-white"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
